.journal {
  margin: 0;
  min-height: 500px;
  background-color: #4438ff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .journal {
    min-height: 330px;
    margin-bottom: 35px;
  }
}