.journal__journal-name {
  margin: 0;
  width: 50%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 80px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .journal__journal-name {
    width: 80%;
    font-size: 40px;
  }
}