.intro__text {
  width: 60%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  line-height: 1.6;
  font-weight: 400;
}

@media screen and (max-width: 750px) {
  .intro__text {
    font-size: 32px;
  }
}