.intro {
  margin: 0;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 217px;
}

@media screen and (max-width: 680px) {
  .intro {
    position: absolute;
    opacity: 0;
  }
}