.footer__column-heading {
  margin: 0 0 30px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

@media screen and (max-width: 680px) {
  .footer__column-heading {
    text-align: center;
  }
  .footer__column-heading_type_follow {
    position: absolute;
    opacity: 0;
  }
}