.barcode__arrow-down {
  margin: 0 auto;
  width: 40px;
  padding: 0;
  position: absolute;
  bottom: 20px;
  transition: transform .2s linear;
}

.barcode__arrow-down:hover {
  transform: translateY(3px);
}