.header__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .header__list {
    margin: 32px 0;
    flex-direction: column;
    align-items: flex-start;
  }
}